<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Attendance">
    <!-- 입력 -->
    <insert id="insert" parameterType="Map">

    </insert>
    <!-- 삭제 -->
    <delete id="delete" parameterType="Map">

    </delete>

    <!-- 리스트 맵으로 가져오기 -->
    <select id="selectListByDepartment" parameterType="Map" resultType="Map">
        select e.field as 'ename', e.email,
               d.Field as 'dname', Round((COUNT(CASE WHEN t.Status = '출근' THEN 1 END) / 24) * 100, 1) AS 'attendanceRate'
        from Employees e
                 join Department d on e.Dep_FK = d.Dep_PK
                 join TimeAttendance t on e.Emp_PK = t.Emp_FK
        Group by e.field, e.email, d.Field
    </select>


</mapper>
